@import "../../variables";

.user-panel {
    .signin {
        border: none;
        border-radius: 10px;
        font-size: $fontSize;
        outline: none;
        padding: 5px 10px;
    }

    button {
        @include buttonStyle;
    }
}
