@import "../../variables";

.menu-icon {
    display: none;
    width   : 26px;
    height  : 20px;
    cursor  : pointer;
    position: relative;
    z-index: 4;
  
    span {
        background-color: black;
        height: 3px;
        position: absolute;
        width: 100%;
        left: 0;
        transition: all 0.3s ease;
        border-radius: 10px;
    
        &:first-child {
            top: 0;
        }
  
        &:nth-child(2) {
            top: 9px;
        }
        
        &:last-child {
            top: 18px;
        }
    }

    &.active {
        span:nth-child(2) {
            opacity: 0;
        }
    
        span:first-child,
        span:last-child {
            top             : 6px;
            background-color: $activeColor;
        }
        
        span:first-child {
            transform: rotate(45deg);
        }
        
        span:last-child {
            transform: rotate(-45deg);
        }
    }
}

@media screen and (max-width: 1000px) {
    .menu-icon {
        display: flex;
        margin-left: auto;
    }
}