@import "../../variables.scss";

.cart__wrapper {
    display: flex;
    padding: 50px 100px;
    flex-direction: column;
    width: 100%;

    .back-to-shopping {
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    .empty-cart-img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    &.empty {
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }
}

.cart__purshaseButton {
    @include buttonStyle;
    align-self: end;
}

.cart__table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.cart__total {
    align-self: end;
    font-weight: 600;
}

@media screen and (max-width: 1000px){
    .cart__wrapper {
        padding: 50px 30px;
    }
}

@media screen and (max-width: 560px){
    .cart__wrapper {
        padding: 50px 15px;
    }

    .cart__total {
        margin-top: 15px;
    }
}