.logo-image {
    height: 100%;
    padding: 7px;
    margin-right: 10px;
}

.logo-wrapper {
    align-self: center;
    display: flex;
    height: 100%;
    align-items: center;

    .logo-text {
        font-size: 22px;
        font-weight: 600;

        &.wrapper {
            display: flex;
            align-items: center;
        }
    }
}

.logo-text.author {
    &::before {
        content: "/";
        margin: 0 10px;
    }
}

@media screen and (max-width: 630px) {
    .logo-wrapper {
        .logo-text {
            font-size: 1.1em;
            &.wrapper {
                flex-direction: column;
                justify-self: center;
            }

            &.author {
                &::before {
                    content: "";
                    margin: 0;
                }
            }
        }
    }
}


@media screen and (max-width: 420px) {
    .logo-wrapper .logo-text {
        font-size: 1em;
    }
}