@import "../../variables";

/*картка книжки для сторінки Каталог книжок*/
// .book-card {
//     background-color: grey;
//     height: 280px;
//     width: 220px;
//     padding: 10px;
// }

// .book-img {
//     background-color: white;
//     height: 80%;
// }

/* блок для підняття панелькі Add to cart*/
.parent {
    width: 100%;
    height: 50px;
    perspective: 300px;
    color: white;
    position: absolute;
    bottom: 0;
}

.book-wrapper:hover .block {
    transform: rotateX(0deg);
    transform-origin: bottom;  
    transition: 0.7s linear transform;
    }

  
.block {
    @include settingFlexPadding(0, center);
    align-items: center;
    background-color: #27AE61;
    width: 100%;
    height: 100%;
    transform: rotateX(95deg);
    transform-origin: bottom;
    transition: 0.7s linear transform;
    font-size: 14px;
    font-weight: 600;
}