@import "../../variables";

header {
    @include settingFlexPadding($sectionPadding, space-between);
    height: 70px;
    width: 100%;
    position: relative;

    &::after {
        content: "";
        border-bottom: 1px solid $bgColor;
        position: absolute;
        bottom: 0;
        width: 98%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 320px) {
    header {
        padding: 10px;
        justify-content: center;

        .logo-wrapper .logo-text {
            font-size: 1em;
        }
    }
}