@import "../../variables.scss";

.cart__item {
    display: grid;
    grid-template-columns: 1fr 3fr repeat(4, 1fr);
    grid-gap: 5px;
    align-items: center;
    width: 100%;

    &--title {
        font-weight: 600;
    }

    &--image {
        width: 60px;
    }

    &--deleteButton {
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
        width: 30px;

        &:hover {
            color: $activeColor;
        }
    }
}