@import "../../variables";

footer {
    height: $heightFooter;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #646464;

    a {
        color: #646464;
    }
}

@media screen and (max-width: 470px) {
    footer {
        height: 40px;
    }
}