$fontSize: 16px;
$sectionPadding: 0 20px;
$bgColor: #f8e9ce;
$wrapperColor: #fffddc;
$borderColor: #fdf7ed;
$pageColor: #fffdfb;

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgColor;
    padding: 60px 50px;
}

.page-wrapper {
    background-color: $wrapperColor;
    border: 8px solid $borderColor;
    border-radius: 5px;
}

button {
    border: none;
    border-radius: 10px;
    font-size: $fontSize;
    outline: none;
    padding: 5px 10px;
}

@mixin settingFlexPadding($padding, $jc) {
    display: flex;
    justify-content: $jc;
    padding: $padding;
}

header {
    @include settingFlexPadding($sectionPadding, space-between);
    height: 70px;
    width: 100%;
    position: relative;

    &::after {
        content: "";
        border-bottom: 1px solid $bgColor;
        position: absolute;
        bottom: 0;
        width: 98%;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo-wrapper {
        align-self: center;
        display: flex;

        .logo-text {
            font-size: 22px;
            font-weight: 600;
        }
    }

    .logo-text.author {
        &::before {
            content: "/";
            margin: 0 10px;
        }
    }

    img {
        height: 100%;
    }

    .user-panel {
        align-items: center;
        display: flex;
    }

    .cart {
        height: 100%;
        position: relative;

        &.full {
            &::before {
                content: "";
                background-color: red;
                border-radius: 50%;
                display: block;
                height: 10px;
                position: absolute;
                top: 2px;
                left: 50%;
                transform: translateX(-50%);
                width: 10px;
            }
        }
    }
}

.book-wrapper {
    @include settingFlexPadding($sectionPadding, space-between);
}

/*картка книжки для сторінки Каталог книжок*/
.book-card {
    background-color: grey;
    height: 280px;
    width: 220px;
    padding: 10px;
}

.book-img {
    background-color: white;
    height: 80%;
}

/* блок для підняття панелькі Add to cart*/
.parent {
    border: 1px solid black;
    width: 200px;
    height: 50px;
    perspective: 300px;

    &:hover .block {
        transform: rotateX(0deg);
        transform-origin: bottom;  
        transition: 0.7s linear transform;
      }
}
  
.block {
    background-color: green;
    width: 100%;
    height: 100%;
    transform: rotateX(95deg);
    transform-origin: bottom;
    transition: 0.7s linear transform;
}