@import "./variables";

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgColor;
    padding: 60px 50px;
}

.App {
    background-color: $wrapperColor;
    border: 8px solid $borderColor;
    border-radius: 5px;
}

// button {
//     border: none;
//     border-radius: 10px;
//     font-size: $fontSize;
//     outline: none;
//     padding: 5px 10px;
// }