$fontSize: 16px;
$sectionPadding: 10px 20px;
$bgColor: #bcbfc8;
$wrapperColor: #e2e5f0;
$borderColor: #cdced7;
$pageColor: #f7f7fd;
$activeColor: #0c8f97;
$bodyVerticalPadding: 60px;
$heightHeader: 70px;
$heightFooter: 25px;

@mixin settingFlexPadding($padding, $jc) {
    display: flex;
    justify-content: $jc;
    padding: $padding;
}

@mixin buttonStyle {
    background-color: $activeColor;
    color: #ffffff;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: $fontSize;
    cursor: pointer; 
    text-decoration: none;

    &:hover {
        background-color: #037878;
    }

    &:disabled:hover {
        background-color: $activeColor;
    }
}